nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: $navBgColor;
  color: $textColor;
  li {
    color: $textColor;
    &:hover {
      background-color: rgb(46, 45, 45);
    }
  }
}
