$navBgColor: rgb(94, 94, 94);
$textColor: rgb(255, 251, 251);
$buttonColor: rgb(8, 8, 8);
$bgColor: rgb(56, 56, 56);
$font: "Times New Roman";

@import "./navbar";

.App {
  text-align: center;
  button {
    background-color: $buttonColor;
    color: $textColor;
    border-style: none;
    border-radius: 2px;
    width: auto;
    height: auto;
    font-size: medium;
    &:hover {
      background-color: rgb(99, 96, 96);
    }
  }
}

body {
  background-color: $bgColor;
  color: $textColor;
  font-family: $font;
  a {
    text-decoration: none;
    color: $textColor;
    &:hover {
      background-color: rgb(99, 96, 96);
    }
  }
  ul {
    list-style: none;
  }
}
