$navBgColor: rgb(151, 151, 151);
$textColor: rgb(0, 0, 0);
$buttonColor: rgb(189, 189, 189);
$bgColor: rgb(248, 248, 248);
$font: "Times New Roman";

@import "./navbar";
//@import "./horizontalList";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #24252a;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #edf0f1;
}

.centerContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}



.staticQuestions {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 22px;
  a {
    text-decoration: none;
    transition: all 0.3s ease 0s;
    &:hover {
      color: #0088a9;
    }
  }
}

