$navBgColor: rgb(20, 20, 20);
$textColor: white;
$buttonColor: rgb(255, 255, 255);
$bgColor: rgb(85, 83, 83);
$font: "Titillium Web";
.App {
  text-align: center;
  button {
    background-color: $buttonColor;
    border-style: none;
    border-radius: 2px;
    width: auto;
    height: auto;
    font-size: medium;
    &:hover {
      background-color: white;
    }
  }
}
@import "./navbar";

body {
  background-color: $bgColor;
  color: $textColor;
  font-family: $font;
  a {
    color: $textColor;
  }
}
